<div class="container-fluid">
<div class="row">
    <div class="jumbotron">
    <h2><span class="label label-danger">Shared <span class="badge">42</span></span></h2>
<form id="form" role="form">
    <div class="form-group move-down">
        <label for="Autocomplete">Pickup location</label>
        <div class="row">
  			<div class="col-lg-4">
    			<div class="input-group">
      				<span class="input-group-btn">
        			<button class="btn btn-default" type="button" ng-click="setMarker(details['geometry']['location'])">Go!</button>
      				</span>
      				<input type="text" id="Autocomplete" class="form-control" ng-autocomplete ng-model="pickup" details="details" options="hyd_option">
    			</div><!-- /input-group -->
  			</div><!-- /.col-lg-6 -->
		</div><!-- /.row -->
        
        <!-- <input type="text" id="Autocomplete" class="form-control" ng-autocomplete ng-model="pickup" details="details" options="hyd_option"/>-->
    </div>
</form>
    <div class="bg">
    <!-- <h1 style="color:#ECEC48; font-size:129px;font-family: 'Lobster', cursive;text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;text-align: center;">Shared</h1>-->    
    </div>
    </div>
    </div>
<div class="row">
    <div class="col-lg-2">
    <ul class="nav nav-pills nav-stacked">
  <li class="active"><a href="#">Map</a></li>
  <li><a href="#">Booking</a></li>
  <li><a href="#">Messages</a></li>
</ul>
</div>

<div data-ng-view></div>
	</div>
	</div>